.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 0 15px 20px 15px;
    border-radius: 20px;
    box-shadow: 0 20px 40px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    flex-direction: column;
    animation: slideInFromBottom 0.5s ease-out forwards;
}
.fullscreen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100svh;
    width: 100svw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(45, 45, 45, 0.55);
}
@keyframes slideInFromBottom {
    from { transform: translateY(100%); }
    to   { transform: translateY(0); }
}


/* Desktop: position in the lower right corner */
@media (min-width: 600px) {
    .modal-overlay {
        justify-content: flex-end;
        align-items: flex-end;
    }
    .modal {
        height: 30%;
        width: 40%;
        position: fixed;
        bottom: 2%;
        left: 30%;
        /*margin: auto;*/
        /*text-align: center;*/
    }
}

/*Mobile: position in the center*/
@media (min-width: 1px) and (max-width: 600px){
    .modal {
        height:auto;
        width: 70%;
        position: fixed;
        bottom: 2%;
    }
}

.modal > a{
    margin-top: 30px;
    width: 100%;
}
.modal > .buttons-container > button{
    border: none;
    padding: 5px;
    font-size: 17px;
    cursor: pointer;
    width: auto;
    /*width: 60px;*/
    height: 30px;
    background-color: transparent;
    border-bottom: 2px solid black;
    transition: all 0.3s ease-in-out;
    color: rgba(104, 238, 232, 0.71);
}

.modal > .buttons-container{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
}










/* change the loader!!!!!!!! */
.loader  {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}
.loader:before {
    animation: ball1 1s infinite;
    background-color: rgba(255, 127, 129, 0.5);
    box-shadow: 30px 0 0 rgba(255, 199, 128, 0.5);
    margin-bottom: 10px;
}
.loader:after {
    animation: ball2 1s infinite;
    background-color: rgba(127, 255, 246, 0.5);
    box-shadow: 30px 0 0 rgba(226, 255, 128, 0.5);
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }
    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }
    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }
    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px,15px);
        -moz-transform: translate(15px, 15px);
    }
    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}
