.input-container{
    font-size: 17px;
    height: var(--element-height);
    width: var(--element-width);
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.07);
    border-bottom: 2px solid black;
    transition: border-bottom 0.3s ease-in-out, transform 0.7s ease-in-out;
    cursor: pointer;
    text-align: left;
    user-select: none;
}

.input-container:focus{
    border-bottom: 2px solid #00fff8;
}

.input-container::placeholder{
    color: rgb(0, 0, 0);
    transition: all 0.5s ease-in-out;
}

.input-container:focus::placeholder{
    padding-left: 44%;
    transition: all 0.5s ease-in-out;
}